%flex_between_center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

%flex_center_end {
	display: flex;
	align-items: center;
	justify-content: end;
}

%flex_column_between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.footer {
	width: 100%;
	padding: 10px;
	font-family: Montserrat, Verdana, sans-serif;
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	margin-bottom: 20px;

	.content {
		width: 100%;
		@extend %flex_between_center;
		justify-content: space-around;

		.footer_item {height: 200px; padding: 20px 0;}
	
		.work_time {
			@extend %flex_column_between;
		}

		.licenses {
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			a {
				text-decoration: none;
				color: #7481ED;
			}

			a:hover {
				color: #7400ED;
			}
		}

		.footer_contact {
			@extend %flex_column_between;
			font-weight: 500;
		}

		.social_block {
			@extend %flex_column_between;
			text-align: right;

			.media_pictures {
				@extend %flex_center_end;
				margin-top: 5px;

				img {
					display: block;
					width: 50px;
					margin-left: 10px;
				}
			}
		}

		@media screen and (min-width: 500px) and ( max-width: 1070px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 200px 200px;

			.footer_item {
				text-align: center;
			}

			.social_block {
				text-align: center;

				.media_pictures {
					justify-content: center;

					img {margin:0 10px;}
				}
			}
		}

		@media screen and (min-width: 200px) and (max-width: 499px) {
			flex-direction: column;
			align-items: center;

			.footer_item {
				text-align: center;
			}
			
			.social_block {
				text-align: center;

				.media_pictures {
					justify-content: center;

					img {margin:0 10px;}
				}
			}
		}
	}
}