* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.main {
	width: 100%;
	margin: 40px 0;
	font-family: Montserrat, Verdana, sans-serif;

	.content {
		width: 100%;
		padding: 10px;

		h1 {text-align: center;}

		.info_block {
			margin-top: 10px;
			padding: 20px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			font-size: 24px;
			font-weight: regular;
			border: 1px solid #c4c4c4;

			p {
				margin: 10px 0;
			}

			ol, ul {
				margin-left: 35px;
			}

			@media screen and (min-width: 200px) and (max-width: 399px) {
				font-size: 16px;
			}

			@media screen and (min-width: 400px) and (max-width: 599px) {
				font-size: 18px;
			}
		}
	}
}