* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.main {
	width: 100%;
	margin: 40px 0 0;
	padding: 10px;
	font-family: Montserrat, Verdana, sans-serif;

	.content {
		width: 100%;

		.greeting {
			text-align: center;
			margin-bottom: 40px;

			h1 {
				font-family: Monda, Montserrat;
				font-size: 50px;
				font-weight: 700;


				@media screen and (min-width: 400px) and (max-width: 599px) {
					font-size: 40px;
				}

				@media screen and (min-width: 200px) and (max-width: 399px) {
					font-size: 30px;
				}
			}

			p {
				font-size: 18px;
				font-weight: regular;

				@media screen and (min-width: 200px) and (max-width: 399px) {
					font-size: 16px;
				}
			}
		}

		.main_catalog {
			margin: 40px 0;

			h2 {
				text-align: center;
				font-family: Monda, Montserrat;
				font-size: 50px;
				font-weight: bold;
			}

			.catalog {
				margin: 20px 0;
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: repeat(2, 1fr);
				gap: 10px;

				.catalog_item {
					cursor: pointer;
					transition: 0.2s;
					z-index: 1;

					img {
						display: block;
						width: 220px;
						margin: 30px auto 0;
					}

					figcaption {
						width: 100%;
						font-size: 48px;
						font-weight: regular;
						color: white;
						text-align: center;

						a {
							color: white;
							text-decoration: none;
							display: block;
						}
					}
				}

				.catalog_item:hover {
					transform: scale(1.1);
					z-index: 2;
				}

				@media screen and (min-width: 631px) and (max-width: 1200px) {
					grid-template-columns: repeat(2, 1fr);
					grid-template-rows: repeat(4, 1fr);
				}

				@media screen and (max-width: 630px) {
					grid-template-columns: repeat(1, 1fr);
					grid-template-rows: repeat(8, 1fr);
					justify-content: center;
				}
			}
		}

		.little_info {
			margin: 40px 0;
			border: 1px solid #c4c4c4;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			padding: 10px;

			p {
				font-size: 48px;
				font-weight: regular;
				margin-bottom: 10px;

				@media screen and (min-width: 200px) and (max-width: 399px) {
					font-size: 28px;
				}

				@media screen and (min-width: 400px) and (max-width: 599px) {
					font-size: 28px;
				}
			}

			ol {
				margin-left: 40px;
				font-size: 20px;

				li {
					margin-bottom: 10px;
				}

				@media screen and (min-width: 200px) and (max-width: 399px) {
					font-size: 16px;
				}

				@media screen and (min-width: 400px) and (max-width: 599px) {
					font-size: 18px;
				}
			}
		}

		.main_reputation {
			margin: 40px 0 10px;
			padding: 10px;

			p {
				font-size: 48px;
				font-weight: regular;
				margin-bottom: 40px;
				text-align: center;

				@media screen and (min-width: 200px) and (max-width: 399px) {
					font-size: 28px;
				}

				@media screen and (min-width: 400px) and (max-width: 599px) {
					font-size: 38px;
				}
			}

			.musical_groups {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				margin-bottom: 40px;
				gap: 20px;

				.musical_group {
					text-align: center;
					transition: ease-in-out 0.5s;
					cursor: pointer;

					img {
						display: block;
						width: 200px;
						border-radius: 100%;
						margin: 0 auto;
					
						@media screen and (min-width: 200px) and (max-width: 419px) {
							width: 100px;
						}

						@media screen and (min-width: 420px) and (max-width: 599px) {
							width: 150px;
						}
					}

					figcaption {
						margin-top: 5px;
						font-size: 20px;
						font-weight: 500;

						@media screen and (min-width: 200px) and (max-width: 599px) {
							font-size: 15px;
						}
					}
				}

				.musical_group:hover {
					transform: scale(1.15);
				}
			}
		}
	}
}