.header .content .header_logo_buttons .header_contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header {
  width: 100%;
  font-family: Montserrat, Verdana, sans-serif;
  border-bottom: 1px solid #c4c4c4; }
  .header .header_message {
    font-size: 18px;
    text-align: center;
    color: #c4c4c4;
    font-weight: 700;
    border-bottom: 1px solid #c4c4c4;
    padding: 3px; }
    @media screen and (max-width: 460px) {
      .header .header_message {
        display: none; } }
  .header .content {
    padding: 10px; }
    .header .content .header_logo_buttons {
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .content .header_logo_buttons .leave_comment {
        width: 220px;
        height: 60px;
        background: #E47231;
        color: white;
        border-radius: 30px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        padding-top: 18px;
        margin: 0 10px;
        cursor: pointer; }
      .header .content .header_logo_buttons .header_logo {
        margin: 0 10px; }
        .header .content .header_logo_buttons .header_logo img {
          width: 325px;
          display: block; }
          @media screen and (min-width: 750px) and (max-width: 1095px) {
            .header .content .header_logo_buttons .header_logo img {
              width: 200px; } }
      .header .content .header_logo_buttons .basket_chosen_login {
        display: flex;
        margin: 0 10px; }
        .header .content .header_logo_buttons .basket_chosen_login a {
          display: block;
          margin: 0 10px;
          text-decoration: none;
          color: black;
          text-align: center; }
      .header .content .header_logo_buttons .header_contacts {
        height: 150px;
        font-weight: 500;
        margin: 0 10px; }
        @media screen and (max-width: 1095px) {
          .header .content .header_logo_buttons .header_contacts {
            display: none; } }
      @media screen and (min-width: 200px) and (max-width: 749px) {
        .header .content .header_logo_buttons {
          flex-direction: column; }
          .header .content .header_logo_buttons .leave_comment {
            margin: 10px 0; }
          .header .content .header_logo_buttons .header_logo {
            margin: 10px 0; }
          .header .content .header_logo_buttons .basket_chosen_login {
            margin: 10px 0; } }
    .header .content .menu_search {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .header .content .menu_search .search_bar {
        width: 100%;
        margin-right: 5px; }
        .header .content .menu_search .search_bar input {
          height: 50px;
          width: 100%;
          display: block;
          border-radius: 25px;
          padding: 15px;
          border: 1px solid #c4c4c4;
          font-size: 18px;
          font-weight: 400; }
          .header .content .menu_search .search_bar input:focus {
            outline: 1px solid #42A5BC;
            border: none; }
      .header .content .menu_search .header_menu {
        display: grid;
        grid-template-columns: repeat(8, 120px);
        grid-template-rows: 30px;
        gap: 5px; }
        .header .content .menu_search .header_menu .menu_item {
          font-weight: 400;
          font-size: 20px;
          text-align: center; }
          .header .content .menu_search .header_menu .menu_item a {
            display: block;
            color: grey;
            transition: 0.1s;
            text-decoration: none; }
            .header .content .menu_search .header_menu .menu_item a:hover {
              color: black; }
      @media screen and (min-width: 380px) and (max-width: 1300px) {
        .header .content .menu_search .header_menu {
          grid-template-columns: repeat(4, 120px);
          grid-template-rows: 30px 30px; } }
      @media screen and (min-width: 200px) and (max-width: 799px) {
        .header .content .menu_search {
          flex-direction: column; }
          .header .content .menu_search .search_bar {
            margin-bottom: 10px;
            margin-right: 0; } }
      @media screen and (max-width: 490px) {
        .header .content .menu_search {
          flex-direction: column; }
          .header .content .menu_search .header_menu {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 30px 30px 30px 30px; } }

/*# sourceMappingURL=header.css.map */
