* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.main {
  width: 100%;
  margin: 40px 0 0;
  padding: 10px;
  font-family: Montserrat, Verdana, sans-serif; }
  .main .content {
    width: 100%; }
    .main .content .greeting {
      text-align: center;
      margin-bottom: 40px; }
      .main .content .greeting h1 {
        font-family: Monda, Montserrat;
        font-size: 50px;
        font-weight: 700; }
        @media screen and (min-width: 400px) and (max-width: 599px) {
          .main .content .greeting h1 {
            font-size: 40px; } }
        @media screen and (min-width: 200px) and (max-width: 399px) {
          .main .content .greeting h1 {
            font-size: 30px; } }
      .main .content .greeting p {
        font-size: 18px;
        font-weight: regular; }
        @media screen and (min-width: 200px) and (max-width: 399px) {
          .main .content .greeting p {
            font-size: 16px; } }
    .main .content .main_catalog {
      margin: 40px 0; }
      .main .content .main_catalog h2 {
        text-align: center;
        font-family: Monda, Montserrat;
        font-size: 50px;
        font-weight: bold; }
      .main .content .main_catalog .catalog {
        margin: 20px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px; }
        .main .content .main_catalog .catalog .catalog_item {
          cursor: pointer;
          transition: 0.2s;
          z-index: 1; }
          .main .content .main_catalog .catalog .catalog_item img {
            display: block;
            width: 220px;
            margin: 30px auto 0; }
          .main .content .main_catalog .catalog .catalog_item figcaption {
            width: 100%;
            font-size: 48px;
            font-weight: regular;
            color: white;
            text-align: center; }
            .main .content .main_catalog .catalog .catalog_item figcaption a {
              color: white;
              text-decoration: none;
              display: block; }
        .main .content .main_catalog .catalog .catalog_item:hover {
          transform: scale(1.2);
          z-index: 2; }
        @media screen and (min-width: 600px) and (max-width: 1200px) {
          .main .content .main_catalog .catalog {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr); } }
        @media screen and (max-width: 630px) {
          .main .content .main_catalog .catalog {
            grid-template-columns: repeat(1, 0.5fr);
            grid-template-rows: repeat(8, 1fr);
            justify-content: center; } }
    .main .content .little_info {
      margin: 40px 0;
      border: 1px solid #c4c4c4;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 10px; }
      .main .content .little_info p {
        font-size: 48px;
        font-weight: regular;
        margin-bottom: 10px; }
        @media screen and (min-width: 200px) and (max-width: 399px) {
          .main .content .little_info p {
            font-size: 28px; } }
        @media screen and (min-width: 400px) and (max-width: 599px) {
          .main .content .little_info p {
            font-size: 28px; } }
      .main .content .little_info ol {
        margin-left: 40px;
        font-size: 20px; }
        .main .content .little_info ol li {
          margin-bottom: 10px; }
        @media screen and (min-width: 200px) and (max-width: 399px) {
          .main .content .little_info ol {
            font-size: 16px; } }
        @media screen and (min-width: 400px) and (max-width: 599px) {
          .main .content .little_info ol {
            font-size: 18px; } }
    .main .content .main_reputation {
      margin: 40px 0 10px;
      padding: 10px; }
      .main .content .main_reputation p {
        font-size: 48px;
        font-weight: regular;
        margin-bottom: 40px;
        text-align: center; }
        @media screen and (min-width: 200px) and (max-width: 399px) {
          .main .content .main_reputation p {
            font-size: 28px; } }
        @media screen and (min-width: 400px) and (max-width: 599px) {
          .main .content .main_reputation p {
            font-size: 38px; } }
      .main .content .main_reputation .musical_groups {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 40px; }
        .main .content .main_reputation .musical_groups .musical_group {
          margin: 10px 20px;
          text-align: center;
          transition: ease-in-out 2s;
          cursor: pointer; }
          .main .content .main_reputation .musical_groups .musical_group img {
            display: block;
            width: 200px;
            border-radius: 100%;
            margin: 0 auto; }
            @media screen and (min-width: 200px) and (max-width: 419px) {
              .main .content .main_reputation .musical_groups .musical_group img {
                width: 100px; } }
            @media screen and (min-width: 420px) and (max-width: 599px) {
              .main .content .main_reputation .musical_groups .musical_group img {
                width: 150px; } }
          .main .content .main_reputation .musical_groups .musical_group figcaption {
            margin-top: 5px;
            font-size: 20px;
            font-weight: 500; }
            @media screen and (min-width: 200px) and (max-width: 599px) {
              .main .content .main_reputation .musical_groups .musical_group figcaption {
                font-size: 15px; } }
        .main .content .main_reputation .musical_groups .musical_group:hover {
          transform: rotate(360deg); }

/*# sourceMappingURL=main.css.map */
